.w3-gallery {
    background: #f6f6f6;
}
span.image-block {
    display: block;
    position: relative;
    max-width: 600px;
    margin: auto !important;
}
.content .content-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 5px;
}
.content:hover .content-overlay {
    opacity: 1;
}
.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s;
}

.fadeIn-bottom {
    top: 80%;
}
.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 5px;
}
.content-details p {
    color: #fff;
    font-size: 1.2em;
}
