.navigation {

}
.menu li a{
    font-size:17px;
    padding: 10px 15px;
    font-weight: 600;
    color:#fff;
    opacity: .8;
}
.menu li a:hover{
    opacity:1;
}
.menu li a.active{
    color:#E7AB3C;
}

.srch {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 25px;
    margin: 0 15px;
}
