/* .banner{
    max-height:100vh;
    overflow:hidden;
} */
.bannerInner{
    position:relative;
}
.bannerInner::before{
    content: "";
    background: rgba(6,31,36,0.9);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.bannerContent {
    position: absolute;
    
    left: 0;
    width: 100%;
    z-index: 10;
    
}
.bannerContent.center {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
}
.bannerContent.center .col-5{
    display: none;
}
.bannerContent.center .col-lg-7 {
    flex: 1;
    width: 100%;
}

.bannerContent.left{
    bottom:0;
}
.banner-info-grid h1{
    font-size:60px;
}
.banner-info-grid h1, .banner-info-grid h3 {
    color: #fff;
    font-weight: 700;
}
.banner-info-grid p{
    color:#fff;
}



